---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Darou Gostar Barij Essence",
    icon: "platforms/netlify",
    url: "https://darougostarbarij.com/",
  },
  {
    title: "Beh Pakhsh ",
    icon: "platforms/vercel",
    url: "http://www.bpc.ir/",
  },
  {
    title: "Momtaz Distribution Co.",
    icon: "fa-brands:cloudflare",
    url: "https://momtaz.ir/",
  },
  {
    title: "SPI Consulting Engineers Company",
    icon: "platforms/render",
    url: "http://sazehpardazi.ir/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Wikoland",
    icon: "frameworks/lit",
    url: "https://wikoland.com/",
  },
];
---

<ContentSection title="Our Customers" id="compatibility">
  <Fragment slot="lead">
    Astro <span class="text-primary">plays nice</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
     and deploy to your favorite <span class="text-primary">platform</span>.
  </Fragment>
  <CompatibilityList items={frameworks} title="companies" url="#" />
  <CompatibilityList items={platforms} title="Businesses" url="#" />
</ContentSection>
