---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Create amazing data experiences" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    At TasmimYar, we offer a suite of BI tools and solutions that can help
    businesses to
    <span class="text-primary">improve their efficiency</span>,
    <span class="text-primary">reduce costs</span>, and,
    <span class="text-primary">increase profits</span>. <br />Our BI tools can
    be used to track project progress, monitor costs, identify potential risks,
    and make better decisions about resource allocation, scheduling, and more.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Ask Us</span>
    </a>
    <a
      href="#"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div>
</ContentSection>
